parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Http\\Requests\\ProductInventoryUpdateRequest\:\:attributes\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductInventoryUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductInventoryUpdateRequest\:\:messages\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductInventoryUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductStoreRequest\:\:attributes\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductStoreRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductStoreRequest\:\:messages\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductStoreRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductStoreRequest\:\:withValidator\(\) has parameter \$validator with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Http/Requests/ProductStoreRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductUpdateRequest\:\:attributes\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductUpdateRequest\:\:messages\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductVariantStoreRequest\:\:attributes\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductVariantStoreRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductVariantStoreRequest\:\:messages\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductVariantStoreRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductVariantUpdateRequest\:\:attributes\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductVariantUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\ProductVariantUpdateRequest\:\:messages\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/ProductVariantUpdateRequest.php

		-
			message: '#^Method App\\Models\\Product\:\:scopeActive\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Method App\\Models\\Product\:\:scopeActive\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Method App\\Models\\Product\:\:scopeInStock\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Method App\\Models\\Product\:\:scopeInStock\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Method App\\Models\\Product\:\:variants\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Parameter \#1 \$num of function number_format expects float, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Method App\\Models\\ProductVariant\:\:getOptionsAttribute\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Models/ProductVariant.php

		-
			message: '#^Method App\\Models\\ProductVariant\:\:product\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ProductVariant.php

		-
			message: '#^Method App\\Models\\ProductVariant\:\:scopeByOption\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ProductVariant.php

		-
			message: '#^Method App\\Models\\ProductVariant\:\:scopeByOption\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ProductVariant.php

		-
			message: '#^Method App\\Models\\ProductVariant\:\:scopeInStock\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ProductVariant.php

		-
			message: '#^Method App\\Models\\ProductVariant\:\:scopeInStock\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ProductVariant.php

		-
			message: '#^Parameter \#1 \$num of function number_format expects float, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/ProductVariant.php
